<div id="header">
    <div class="container">
        <nav>
            <!-- <img  src="assets/logo.png" class="logo">  -->
            <ul id="sidemenu">
                <li><a href="#header">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#contact">Contact</a></li>
                <i id="closeButton" class="fa-solid fa-xmark"></i>
            </ul>
            <i id="openButton" class="fa-solid fa-bars"></i>
        </nav>
        <div class="header-text">
            <p><b>Web Developer</b></p>
            <h1>Hi, I'm <span> Sanket Manne</span></h1>
        </div>
        <!-- <div class="wrapper">
            <div class="static-txt">I'm </div>
            <ul class="dynamic-txts">
                <li><span>Sanket Manne</span></li>
                <li><span>Web Developer</span></li>
            </ul>
        </div> -->
    </div>
</div>

<!-----------------About---------------------->
<div id="about">
    <div class="container">
        <div class="row">
            <div class="about-col-1">
                <h1 class="sub-title">About Me</h1>
                <p>"Hello! I'm Sanket Manne, a passionate and dedicated web developer eager to start my career in the
                    tech industry. I recently completed my Post-graduation from Sant Gadge Baba Amravati University with
                    a degree in Master of Computer Application, where I discovered my love for building and designing
                    websites."</p>
                <div class="tab-titles">
                    <p class="tab-links active-link" onclick="opentab('skills')">Skills</p>
                    <p class="tab-links" onclick="opentab('experience')">Experience</p>
                    <p class="tab-links" onclick="opentab('education')">Education</p>
                </div>
                <div class="tab-contents active-tab" id="skills">
                    <!-- <ul>
                        <li><span>Web Development</span><br>Web Application Development</li>
                        <li><span>UI/UX</span><br>Designing Web/App Interfaces</li>
                        <li><span>Android Development</span><br>Android Application Development</li>
                    </ul> -->
                    <div class="grid-container1">
                        <div class="grid-item1">
                            <img src="assets/HTML.png" alt="html">
                        </div>
                        <div class="grid-item1">
                            <img src="assets/CSS.png" alt="css">
                        </div>
                        <div class="grid-item1">
                            <img src="assets/JavaScript.png" alt="js">
                        </div>
                        <div class="grid-item1">
                            <img src="assets/ANGULAR.png" alt="Angular">
                        </div>
                        <div class="grid-item1">
                            <img src="assets/NET.png" alt=".net">
                        </div>
                        <div class="grid-item1">
                            <img src="assets/C.png" alt="c">
                        </div>
                        <div class="grid-item1">
                            <img src="assets/java.png" alt="java">
                        </div>
                        <div class="grid-item1">
                            <img src="assets/Databases.png" alt="databases">
                        </div>
                        <div class="grid-item1">
                            <img src="assets/android.png" alt="android">
                        </div>
                    </div>
                </div>
                <div class="tab-contents" id="experience">
                    <ul>
                        <li><span>01/2024 - 07/2024</span><br>Internship at SGBAU Incubation Center</li>
                        <li><span>01/2024 - 06/2024</span><br>Internship at Code Microsystem OPC Pvt Ltd</li>
                    </ul>
                </div>
                <div class="tab-contents" id="education">
                    <ul>
                        <li><span>2022 - 2024</span><br>MCA From Sant Gadge Baba Amravati University</li>
                        <li><span>2017 - 2020</span><br>B.Com From YCMOU</li>
                        <li><span>2016 - 2019</span><br>Diploma in Civil Engg From Government Polytechnic, Amravati</li>
                        <li><span>2016</span><br>HSC From Maharashtra State Board</li>
                        <li><span>2014</span><br>SSC From Maharashtra State Board</li>
                    </ul>
                </div>
            </div>
            <div class="about-col-2">
                <img src="assets/pic1.jpg" alt="pic" class="pic">
            </div>
        </div>
    </div>
</div>


<!----------------Services------------->
<!-- 
<div id="services">
    <div class="container">
        <h1 class="sub-title">My Services</h1>
        <div class="services-list">
            <div>
                <i class="fa-solid fa-code"></i>
                <h2>Web Application Development</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere sint excepturi, minima similique, consectetur expedita corporis nobis accusantium, illo soluta in aspernatur temporibus eos ipsa minus quas ipsam asperiores suscipit?</p>
                <a href="#">learn more</a>
            </div>
            <div>
                <i class="fa-brands fa-android"></i>
                <h2>Android Application Development</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere sint excepturi, minima similique, consectetur expedita corporis nobis accusantium, illo soluta in aspernatur temporibus eos ipsa minus quas ipsam asperiores suscipit?</p>
                <a href="#">learn more</a>
            </div>
        </div>
    </div>
</div> -->


<!------------portfolio----------->

<div id="portfolio">
    <div class="container">
        <h1 class="sub-title">My Work</h1>
        <div class="work-list">
            <div class="work">
                <img src="assets/work2.png" alt="Portfolio">
                <div class="layer">
                    <h3>Portfolio Website</h3>
                    <p>This is a personal portfolio Website, My Digital Resume.Developed Personal Portfolio website
                        using Angularjs and IDE use for this project is Visual Studio Code.</p>
                    <a href=""><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="work">
                <img src="assets/SGBAU Internship.png" alt="Incubation">
                <div class="layer">
                    <h3>SGBAU Incubation Internship Website</h3>
                    <p>Developed a project for university utilizing Angularjs for the frontend, with language C# and
                        MSSQL database and IDE use for this project is Visual Studio Code.</p>
                    <a href=""><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="work">
                <img src="assets/calculator2.jpg" alt="calculator">
                <div class="layer">
                    <h3>Calculator Web Application</h3>
                    <p>This is a calculator Web Application, Developed by using HTML5, CSS3, JavaScript and IDE use
                        for this project is Visual Studio Code.</p>
                    <a href=""><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
        </div>
        <a href="#" class="btn">See More</a>
    </div>
</div>

<!-----------Contact------------------->


<div id="contact">
    <div class="container">
        <div class="row">
            <div class="contact-left">
                <h1 class="sub-title">Contact Me</h1>
                <p><i class="fa-solid fa-envelope"></i>sanket.manne&#64;gmail.com</p>
                <p><i class="fa-solid fa-phone"></i>8275325449</p>
                <div class="social-icons">
                    <a href="https://www.instagram.com/sanketmanne18?igsh=MWpsdXg2aW9ldHJ4YQ=="><i
                            class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/sanket-manne-a4254413a/"><i
                            class="fa-brands fa-linkedin"></i></a>
                    <a href="https://github.com/Sanketmanne/"><i class="fa-brands fa-github"></i></a>
                    <a href="t.me/CaptainOp7"><i class="fa-brands fa-telegram"></i></a>
                </div>
                <a href="assets/Sanket's Resume.pdf" download class="btn btn2">Download CV</a>
            </div>
            <div class="contact-right">
                <form name="submit-to-google-sheet">
                    <input type="text" name="Name" placeholder="Your Name" required>
                    <input type="email" name="Email" placeholder="Your Email" required>
                    <textarea name="Message" rows="6" placeholder="Your Message"></textarea>
                    <button type="submit" class="btn btn2">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>Copyright © Sanket Manne.</p>
    </div>
</div>


<script src="assets/script.js"></script>

<script>

    const scriptURL = 'https://script.google.com/macros/s/AKfycbylOasvhtGjOyQFSmVplywsBxSz3KrWXrPv4ueBnUTioYTctoU7wtpK31OWEuBSklEz/exec'
    const form = document.forms['submit-to-google-sheet']

    form.addEventListener('submit', e => {
        e.preventDefault()
        fetch(scriptURL, { method: 'POST', body: new FormData(form) })
            .then(response => console.log('Success!', response))
            .catch(error => console.error('Error!', error.message))
    })

</script>